<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chatbot Modal Page</title>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
		<link href="/bootstrap/css/modal.css" rel="stylesheet">
    	
    	<script th:src="@{/bootstrap/js/modal.js}"></script>
	</head>
  

	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
					<strong>문의하기</strong>
				</a>
				<button id="closeButton" type="button" class="btn btn-light" onclick="{() => console.log('clicked');window.parent.document.getElementById('chatroom').style.display='none';}">X</button>
			</div>
		</div>
	</header>
	
	<body>
		<main class="container">
			<div class="messaging">
				<div>
					<div class="mesgs">
						<div class="msg_history">
				            <div class="incoming_msg">
	              				<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	              				<div class="received_msg">
	                				<div class="received_withd_msg">
	                  					<p>안녕하세요. 챗봇 서비스를 이용해주셔서 감사합니다.</p>
	                  					<span class="time_date"> 11:01 AM    |    June 9</span>
	                  				</div>
	              				</div>
	            			</div>
	            			
	            			<div class="incoming_msg">
	              				<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	              				<div class="received_msg">
	              					<div class="received_withd_msg">
	                  					<p>필요한 문의사항을 선택해주세요.</p>
	                  					<span class="time_date"> 11:01 AM    |    June 9</span>
	                  				</div>
								</div>
	            			</div>
						</div>

						<div id="inputDiv">
							<div class="input_btn_write" style="display:block;"></div>
		 
							<div class="input_msg_write" style="display:none;">
								<input id="send_msg" type="text" class="form-control write_msg" rows="2" style="overflow:hidden;" onkeyup="keyEvent(this.value);" autocomplete="off">
								<button class="msg_send_btn" type="button" onclick="sendBtnClick();">보내기</button>
							</div>
						</div>
	        		</div>
				</div>
			</div>
		</main>
	</body>
</html>
